<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<img class="logo_image" alt="古月坊" src="/img/logo.jpg">
	        		<li><a href="/">主页Main</a></li>
		        	<li><a href="/about">关于About</a></li>
	        		<li><a href="/blog">博客Blog</a></li>
				<li><a href="/album">影集Album</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:huym0625@163.com">
					<svg t="1608212427831" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1256" width="50" height="50"><path d="M906.36288 815.08352H130.21184V254.60736h776.13056v560.47616z m-735.19104-40.96h694.21056V295.56736H171.17184v478.55616z" fill="#070606" p-id="1257"></path><path d="M518.30784 559.9232L138.87488 291.81952l23.6544-33.46432 355.77856 251.41248 355.75808-251.41248 23.63392 33.46432z" fill="#070606" p-id="1258"></path></svg>
				     </a></li>
	        		<li><a href="https://github.com/huyim">
					<img src="https://img.icons8.com/windows/35/000000/github.png"/>
				     </a></li>
				<li><a href="https://www.youtube.com/channel/UCNC1JwhmbMq7QIfB6stAXdw?view_as=subscriber">
					<img src="https://img.icons8.com/color/35/000000/youtube-play.png"/>
				     </a></li>
				<li><a href="https://space.bilibili.com/21574978">
					<img src="https://www.bilibili.com/favicon.ico"/>
				     </a></li>
				<li><a href="https://weibo.com/5332484056/profile?topnav=1&wvr=6">
					<img src="https://img.icons8.com/color/35/000000/weibo.png"/>
				     </a></li>
				</ul>
			</footer>
		</body>
	</html>
